body {
    background-color: var(--background-basic);
    overflow: hidden;
}

.waiting {
    transform: translateX(-200%);
}

.card0 {
    transform: translate(-50%, -50%) rotate(8deg);
}

.card1 {
    transform: translate(-50%, -50%) rotate(6deg);
}

.card2 {
    transform: translate(-50%, -50%) rotate(4deg);
}

.card3 {
    transform: translate(-50%, -50%) rotate(2deg);
}

.card4 {
    transform: translate(-50%, -50%) rotate(0deg);
}